http://localhost:8085 {
    handle_path /db* {
        reverse_proxy host.docker.internal:5984
    }

    handle_path /api* {
	    reverse_proxy host.docker.internal:5050
    }

    handle_path /s3* {
	    reverse_proxy host.docker.internal:5660
    }

    handle_path /* {
        reverse_proxy host.docker.internal:8081
    }
}
