version: "3.9"
services:
  reverse-proxy:
    image: traefik:v2.9
    command:
      - "--providers.docker"
      - "--providers.file.directory=/configuration/"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
    environment:
      - SSL_CERT_CRT=${SSL_CERT_CRT}
      - SSL_CERT_KEY=${SSL_CERT_KEY}
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yaml:/configuration/traefik.yml
      - /etc/ssl:/etc/ssl
  frontend:
    build: ./frontend
    labels:
      - "traefik.http.routers.frontend.priority=100"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
    restart: unless-stopped
  couchdb:
    build: ./couchdb
    environment:
      - COUCHDB_USER=${COUCHDB_USER}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD}
      - COUCHDB_HOST=couchdb
    labels:
      - "traefik.http.routers.couchdb.priority=1000"
      - "traefik.http.routers.couchdb.tls=true"
      - "traefik.http.routers.couchdb.rule=PathPrefix(`/db`)"
      - "traefik.http.routers.couchdb.middlewares=couchdb-stripprefix,test-compress"
      - "traefik.http.middlewares.couchdb-stripprefix.stripprefix.prefixes=/db"
      - "traefik.http.services.couchdb.loadbalancer.server.port=5984"
      - "traefik.http.middlewares.test-compress.compress=true"
    ports:
      - '5984:5984'
    restart: unless-stopped
    volumes:
      - couchdb_data:/opt/couchdb/data/
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5984"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 10s
  couchdb-setup:
    environment:
      - COUCHDB_USER=${COUCHDB_USER}
      - COUCHDB_PASSWORD=${COUCHDB_PASSWORD}
      - COUCHDB_HOST=couchdb
    labels:
      - "traefik.http.services.couchdb-setup.loadbalancer.server.port=9999"
    build: ./couchdb-setup
    depends_on:
      - couchdb
  upload-fast-api:
    build: ./uploadFASTAPI
    environment:
      - S3_ENDPOINT_HOSTNAME=${S3_ENDPOINT_HOSTNAME}
      - S3_ENDPOINT_PROTOCOL=${S3_ENDPOINT_PROTOCOL}
      - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}
      - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY}
      - S3_REGION=${S3_REGION} 
      - S3_Bucket=${S3_Bucket} 
      - S3_Key=${S3_Key} 
      - CORS_ENABLED=${CORS_ENABLED} 
      - ROOT_PATH=
      - AUTH_SERVER="http://couchdb:5984"
    ports:
      - '5050:5050'
    labels:
      - "traefik.http.routers.uploadFASTAPI.priority=1001"
      - "traefik.http.routers.uploadFASTAPI.tls=true"
      - "traefik.http.routers.uploadFASTAPI.rule=PathPrefix(`/api`)"
      - "traefik.http.services.uploadFASTAPI.loadbalancer.server.port=5050"
      - "traefik.http.routers.uploadFASTAPI.middlewares=uploadFASTAPI-middleware"
      - "traefik.http.middlewares.uploadFASTAPI-middleware.stripprefix.prefixes=/api"
    restart: unless-stopped
    depends_on:
      - couchdb
  s3_server:
    build: ./s3_server
    restart: unless-stopped
    environment:
      - DNS=${DNS}
      - S3_ENDPOINT_HOSTNAME=${S3_ENDPOINT_HOSTNAME}
      - S3_ENDPOINT_PROTOCOL=${S3_ENDPOINT_PROTOCOL}
      - S3_BUCKET_NAME=${S3_Bucket}
    labels:
      - "traefik.http.routers.s3Server.priority=1002"
      - "traefik.http.routers.s3Server.tls=true"
      - "traefik.http.routers.s3Server.rule=PathPrefix(`/s3`)"
      - "traefik.http.routers.s3Server.middlewares=s3Server-stripprefix"
      - "traefik.http.middlewares.s3Server-stripprefix.stripprefix.prefixes=/s3"
      - "traefik.http.services.s3Server.loadbalancer.server.port=5660"
    ports:
      - '5660:5660'

volumes:
  couchdb_data:
    driver: local
