// https://vuetifyjs.com/en/features/sass-variables/
:root {
  --c-blue: rgba(32, 135, 200, 1);
  --c-brow: rgba(157, 72, 56, 1);
  --c-grey: rgba(84, 84, 86, 1);
}

$c-blue: rgba(32, 135, 200, 1);
$c-brow: rgba(157, 72, 56, 1);
$c-grey: rgba(84, 84, 86, 1);

// https://www.ungm.org/UNUser/Documents/DownloadPublicDocument?docId=782892
$body-font-family: "Proxima Nova", "Lato", "Arial";

// Common Styles
.v-list-item {
  > .v-tab {
    height: 48px;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
  }
}

.v-card__title {
  word-break: break-word;
}
