// https://vuetifyjs.com/en/features/sass-variables/

// https://www.ungm.org/UNUser/Documents/DownloadPublicDocument?docId=782892
$body-font-family: "Proxima Nova", "Lato", "Arial";

// Common Styles
.v-list-item {
  > .v-tab {
    height: 48px;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
  }
}

.v-card__title {
  word-break: break-word;
}
